<div class="file-upload">
  <!-- Upload Area -->
  <div 
    class="upload-area"
    [class.drag-over]="dragOver"
    [class.uploading]="uploading"
    (dragover)="onDragOver($event)"
    (dragleave)="onDragLeave($event)"
    (drop)="onDrop($event)"
  >
    <div *ngIf="!uploading" class="upload-content">
      <i class="fa fa-cloud-upload-alt fa-3x text-muted mb-3"></i>
      <h5>Drop files here or click to browse</h5>
      <p class="text-muted">Maximum file size: {{ maxSize / (1024 * 1024) }}MB</p>
      <input
        type="file"
        [multiple]="multiple"
        [accept]="accept"
        (change)="onFileSelected($event)"
        class="file-input"
        #fileInput
      />
      <button type="button" class="btn btn-primary" (click)="fileInput.click()">
        <i class="fa fa-folder-open"></i> Choose Files
      </button>
    </div>
    
    <div *ngIf="uploading" class="upload-content">
      <div class="spinner-border text-primary mb-3" role="status">
        <span class="sr-only">Uploading...</span>
      </div>
      <h5>Uploading files...</h5>
    </div>
  </div>

  <!-- Error Message -->
  <div *ngIf="errorMessage" class="alert alert-danger mt-3" role="alert">
    <i class="fa fa-exclamation-triangle"></i> {{ errorMessage }}
  </div>

  <!-- Uploaded Files -->
  <div *ngIf="uploadedFiles.length > 0" class="uploaded-files mt-4">
    <h6>Uploaded Files</h6>
    <div class="row">
      <div *ngFor="let file of uploadedFiles" class="col-md-3 mb-3">
        <div class="file-item">
          <div class="file-preview">
            <img 
              *ngIf="isImageFile(file.fileName)"
              [src]="file.url" 
              [alt]="file.fileName"
              class="img-thumbnail"
            />
            <div 
              *ngIf="!isImageFile(file.fileName)"
              class="file-icon"
            >
              <i class="fa fa-file fa-2x"></i>
            </div>
          </div>
          <div class="file-info">
            <div class="file-name" [title]="file.fileName">
              {{ file.fileName.length > 20 ? file.fileName.substring(0, 20) + '...' : file.fileName }}
            </div>
            <div class="file-size">{{ formatFileSize(file.size) }}</div>
            <div class="file-actions">
              <button 
                type="button" 
                class="btn btn-sm btn-outline-primary"
                (click)="selectFile(file)"
                title="Select"
              >
                <i class="fa fa-check"></i>
              </button>
              <button 
                type="button" 
                class="btn btn-sm btn-outline-danger"
                (click)="deleteFile(file)"
                title="Delete"
              >
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
